.V1\.ButtonControl button {
    text-decoration: none;
    display: block;
    font-size: 14px;
    margin: 4px 6px;
    cursor: pointer;
    color: white;
    border-radius: 0px;
    background-color: rgb(59, 121, 183);
    border: none;
    padding: 5px;
    text-align: center;
}

button:hover {
    background-color: rgb(24, 87, 181)
}

button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}